.header-class {
  background-color: grey;
  opacity: .7;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul li {
  border-right: 1px solid black;
  padding-right: 10px;
  border-left: 1px solid black;
  padding-left: 10px;
color: black;
display: flex;
justify-content: space-between;
margin: 0 auto;
}

/* #formOne, #formTwo {
  justify-content: flex-end;
  width: 100%;
  border: 1px solid black;
  margin-right: 10px;
} */
#name{
  margin-left: 30px;
}
.formGroup {
    display: flex;
    justify-content: flex-end;
}
#input-accounts {

  width: 100%;
  border: 1px solid hotpink;
  justify-content: flex-end;
}
.row {
  display: flex;
  width:100%;
  justify-content: space-around;
}
